.container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
}

.button2{
    background-color: var(--bg)
}

.button:disabled {
    cursor: not-allowed;
}